[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[dev-packages]

nose = "*"
ipython = "*"
pylint = "*"


[packages]

flask = "*"
elasticsearch = ">=5.0.0,<6.0.0"
elasticsearch-dsl = ">=5.0.0,<6.0.0"
certifi = "*"
flask-cors = "*"
